<section class="section hero" aria-label="home">
  <div class="container">
    <div class="hero-content">
      <p class="hero-subtitle">My name is Abhay</p>

      <h1 class="headline-lg">I'm a Developer</h1>

      <p class="hero-text body-md">Based in Kanpur, Uttar Pradesh.</p>

      <a href="/contact" class="btn btn-primary">Let's Start</a>
    </div>

    <figure class="hero-banner">
      <img
        src="assets/images/admin.jpg"
        width="680"
        height="645"
        alt="Admin Pic"
        class="w-100"
      />
    </figure>
  </div>
</section>

<!-- <app-about></app-about> -->
