.section {
  height: 100vh;
}

.center {
  /* margin: auto;
  width: 50%;
  padding: 10px; */
  padding: 10px;
  /* background: gray; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  /* background-color: orange; */
  width: 75%;
}
.formGroup {
  width: 50%;
  margin-left: 25%;
}
.sub-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}
.other-links {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(144, 133, 154); */
}
.other-links > a {
  color: blueviolet;
  font-weight: bold;
}
