<section class="section">
  <form #form="ngForm" (ngSubmit)="passwordReset()" ngNativeValidate>
    <div class="container center">
      <div class="child">
        <h2 class="headline-sm text-center">Reset Password</h2>

        <div class="formGroup">
          <label for="email" class="label">Email Address:</label>
          <input
            type="email"
            class="input-field"
            placeholder="Email Address"
            name="email"
            id="email"
            [(ngModel)]="email"
            (ngModelChange)="onEmailChange()"
            required
          />
          <div
            *ngIf="email && emailValue.dirty && emailValue.errors.valid"
            style="color: red"
          >
            Enter correct Email Id.
          </div>
        </div>
        <!-- Reset Button and Login backlink -->
        <div class="sub-control">
          <div>
            <button type="submit" class="btn btnPrimary">Reset Password</button>
          </div>

          <div class="other-links">
            <span>Go back to </span
            ><a class="redirect" routerLink="/login">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
